[submodule "Argon"]
	path = Argon
	url = git@github.com:aravic/Argon.git
[submodule "caraml"]
	path = caraml
	url = git@github.com:aravic/caraml.git
[submodule "xmanager"]
	path = xmanager
	url = git@github.com:aravic/xmanager.git
[submodule "symphony"]
  path=symphony
  url=git@github.com:aravic/symphony.git
